*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-container {
  padding-top: 80px;
}

.card {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 10px;
}

.heading {
  width: 100%;
  height: 15px;
  background-color: #d1d1d1;
}

.text {
  width: 80%;
  height: 10px;
  background-color: #d1d1d1;
}

.empty {
  width: 60%;
  height: 10px;
  background-color: #d1d1d1;
}

.empty.empty-avatar {
  width: 60px;
  height: 60px;
  background-color: #d1d1d1;
  border-radius: 100vmax;
}